/* Web Wrap */
.active a{
	color: #000000;
}
#webwrap {
	background: url(../img/guest-bg1.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top: 70px;
	padding-bottom: 100px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#webwrap h1 {
	color: #ffffff;
	font-size: 50px;
	padding-top: 50px;
}

#webwrap .page{
	cursor: pointer;
}

/* File Wrap */
#fileWrap {
	background: url(../img/file-bg.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top:70px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#fileWrap h3 {
	color: #ffffff;
	font-size: 50px;
}

#fileWrap h4 {
	color: #ffffff;
	font-size: 28px;
}

#fileWrap button {
	height: 300px;
	width: 174px;
	margin-bottom: 80px;
	border: none;
}
/* Schedule Wrap */
#scheduleWrap {
	/*background: url(../img/header-bg.png) no-repeat center top;*/
	background-color: #34495e;
	margin-top: 0px;
	padding-top: 70px;
	padding-bottom: 20px;
	/*text-align:center;*/
	background-attachment: relative;
	background-position: center center;
	min-height: 600px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#scheduleWrap h3 {
	color: #ffffff;
	font-size: 50px;
	padding-top: 70px;
}

#scheduleWrap h4 {
	color: #ffffff;
	font-size: 28px;
	font-weight: 600;
	margin-top: 40px;
	padding-bottom: 20px;
}

/* White Wrap */

#w {
	background: #ffffff;
	padding-top: 35px;
	padding-bottom: 35px;
	text-align: center;
}

#w h3 {
	font-weight: 700;
	color: #7b7b7b;
	letter-spacing: 1px;
}

#w bold {
	color: #2f2f2f;
}

/* Footer Wrap */

#f {
	background: #2f2f2f;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center
}

#f h3 {
	color: white;	
}

#f i {
	font-size: 26px;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}

/* Copyright Wrap */

#c {
	background: #222222;
	padding-top: 15px;
	text-align: right;
}

#c p {
	color: white
}



.box-inner {
    /*border: 1px solid #DEDEDE;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);*/
    background-color: #34495e;
	margin-top: 0px;
	padding-top: 100px;
	padding-bottom: 80px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.box-header {
    border: none;
    text-align: center;
    padding-top: 5px;
    height: 90px;
    border-bottom: 1px solid #DEDEDE;

    border-radius: 0px 0px 0 0;
    -webkit-border-radius: 0px 0px 0 0;
    -moz-border-radius: 0px 0px 0 0;
    
    min-height: 35px !important;
    margin-bottom: 30;
    font-weight: bold;
    font-size: 16px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#1a000000', GradientType=0);

}

.box-header h2 {
	color: white;
    font-size: 50px;
    clear: none;
    float: center;
    line-height: 25px;
    white-space: nowrap;
    font-weight: bold;
    margin-top: 10;
    margin-bottom: 0;

}

.box-header h2 > i {
    margin-top: 1px;
}

.table {
	color: white;
	margin-top: 25px;

}

.table td{
	text-align: left;
	vertical-align: middle;
}

.table th{
	font-size: 20px;
}

.textarea{
	color: white;
	background: transparent;
	overflow: auto;
	border: none;
	margin-top: 10px;
}

.legend{
	color: white;
	margin-top: 0px;
	padding-top: 28px;
	margin-bottom: 0px;
}

.legend h4{
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	margin-left: 35px;
	margin-top: 0px;
}

.btn-warning,.btn-info{
	padding: 0px 4px 0px 2px;
	margin-right: 10px;
}


.input-group{
	padding-right: 15px;
	padding-left: 15px;
}

.bootstrap-datetimepicker-widget{
	left: 15px;
	right: auto;
}