a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('../font/icomoon/icomoon.eot?i64fx9');
	src:url('../font/icomoon/icomoon.eot?#iefixi64fx9') format('embedded-opentype'),
		url('../font/icomoon/icomoon.woff?i64fx9') format('woff'),
		url('../font/icomoon/icomoon.ttf?i64fx9') format('truetype'),
		url('../font/icomoon/icomoon.svg?i64fx9#icomoon') format('svg');
}
 
.icon-close {
	z-index: 100;
	display: block;
	overflow: hidden;
	width: 3em;
	height: 3em;
	text-align: center;
	line-height: 3;
	cursor: pointer;
}

.icon:before {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-close::before {
	content: "\e601";
}

.icon-close {
	position: absolute;
	top: 20px;
	right: 20px;
}

.icon-close:hover {
	color: #a50a05;
}

.content-style-text .icon-close {
	top: 0;
	right: 0;
	color: rgba(0,0,0,0.2);
}

.content-style-text .icon-close:hover {
	color: #f9e1c9;
}

/* Morph Button: Default Styles */
.morph-button {
	position: relative;
	display: block;
	margin: 0 auto;
}

.morph-button > button {
	position: relative;
	padding: 0 1em;
	border: none;
	background-color: #e85657;
	color: #f9f6e5;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	line-height: 80px;
	overflow: hidden;
}

.morph-button.open > button {
	pointer-events: none;
}

.morph-content {
	pointer-events: none;
}

.morph-button.open .morph-content {
	pointer-events: auto;
}

/* Common styles for overlay and modal type (fixed morph) */
.morph-button-fixed,
.morph-button-fixed .morph-content {
	width: 0px;
	height: 0px;
}

.morph-button-fixed > button {
	z-index: 1000;
	width: 100%;
	height: 100%;
	-webkit-transition: opacity 0.1s 0.5s;
	transition: opacity 0.1s 0.5s;
}

.morph-button-fixed.open > button {
	opacity: 0;
	-webkit-transition: opacity 0.1s;
	transition: opacity 0.1s;
}

.morph-button-fixed .morph-content {
	position: fixed;
	z-index: 900;
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
	transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

.morph-button-fixed.open .morph-content {
	opacity: 1;
}

.morph-button-fixed .morph-content > div {
	visibility: hidden;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
	transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
}

.morph-button-fixed.open .morph-content > div {
	visibility: visible;
	height: auto;
	opacity: 1;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.morph-button-fixed.active > button {
	z-index: 2000;
}

.morph-button-fixed.active .morph-content {
	z-index: 1900;
}

/* Morph Button Style: Modal */
.morph-button-modal::before {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 800;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	pointer-events: none;
}

.morph-button-modal.open::before {
	opacity: 1;
	pointer-events: auto;
}

.morph-button-modal.active::before {
	z-index: 1800;
}

.morph-button-modal .morph-content {
	overflow: hidden;
	-webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
	transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

.morph-button-modal.open .morph-content {
	top: 50% !important;
	left: 50% !important;
	margin: -210px 0 0 -300px;
	width: 600px;
	height: 420px;
	-webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
	transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

/* Colors and sizes for individual modals */
.morph-button.morph-button-modal-2,
.morph-button.morph-button-modal-3 {
	display: inline-block;
	margin: 10px 15px;
}

.morph-button-modal-2 > button,
.morph-button-modal-3 > button {
	width: 120px;
	height: 200px;

}

.morph-button-modal-2 .morph-content,
.morph-button-modal-3 .morph-content {
	background-color: #e0e0e0;
	color: #333;
}

.morph-button-modal-2.open .morph-content {
	margin: -255px 0 0 -200px;
	width: 380px;
	height: 480px;
}

.morph-button-modal-3.open .morph-content {
	margin: -280px 0 0 -200px;
	width: 380px;
	height: 550px;
}

.morph-button-modal-3.open .morph-content > div {
	height: 420px;
}

.morph-button-modal-2.open .morph-content > div,
.morph-button-modal-3.open .morph-content > div {
 	-webkit-transition: opacity 0.3s 0.3s;
	transition: opacity 0.3s 0.3s;
}

/* Style for form modal */
.content-style-form {
	position: relative;
	text-align: left;
}

.content-style-form h4 {
	margin: 0;
	padding: 0.4em 0 0.3em;
	text-align: center;
	font-weight: 300;
	font-size: 3.5em;
}

.content-style-form form {
	padding: 10px 30px;
}

.content-style-form form p {
	margin: 0 0 5px 0;
	font-size: 0.7em;
}

.content-style-form span[type="title"] {
	padding-right: 105px;
}

.content-style-form span[type="content"] {
	padding-right: 15px;
}

.content-style-form label {
	display: block;
	padding: 10px 0 0;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}

.content-style-form input[type="text"],
.content-style-form input[type="password"] {
	padding: 10px;
	width: 100%;
	border: 2px solid #333;
	background: transparent;
	color: #333;
	font-weight: 300;
	font-size: 2.2em;
}

.content-style-form select[type="form-control"] {
	padding: 10px;
	height: 40px;
	width: 150px;
	border: 2px solid #333;
	background: transparent;
	color: #333;
	font-weight: 300;
	font-size: 1.4em;
}

.content-style-form input[type="textTime"] {
	width: 150px;
	height: 40px;
	border: 2px solid #333;
	background: transparent;
	color: #333;
	font-weight: 300;
	font-size: 1.4em;
}

.content-style-form textarea {
	resize: none;
	padding: 10px;
	width: 100%;
	height: 100px;
	border: 2px solid #333;
	background: transparent;
	color: #333;
	font-weight: 200;
	font-size: 1.4em;
}

.content-style-form input[type="text"]:focus,
.content-style-form input[type="password"]:focus,
.content-style-form input[type="textTime"]:focus,
.content-style-form select[type="form-control"]:focus,
.content-style-form textarea:focus {
	border-color: #e75854;
	color: #e75854;
}

.content-style-form input:focus {
	outline: 0;
}

.content-style-form button {
	display: block;
	margin-top: 20px;
	padding: 1.5em;
	width: 100%;
	border: none;
	background: #333;
	color: #f9f6e5;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 800;
	font-size: 1.25em;
}

.content-style-form .icon-close {
	top: 0;
	right: 0;
	color: #333;
	font-size: 75%;
}

.content-style-form .icon-close:hover {
	color: #333;
}

.js .content-style-form-1 h2,
.js .content-style-form-1 p,
.js .content-style-form-1 .icon-close {
	opacity: 0;
	-webkit-transition: opacity 0.2s 0.35s, -webkit-transform 0.2s 0.35s;
	transition: opacity 0.2s 0.35s, transform 0.2s 0.35s;
	-webkit-transform: scale(0.85);
	transform: scale(0.85);
}

.content-style-form-1 p:first-child {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.content-style-form-1 p:nth-child(2) {
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}

.content-style-form-1 p:nth-child(3) {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.morph-button.open .content-style-form-1 h2,
.morph-button.open .content-style-form-1 p,
.morph-button.open .content-style-form-1 .icon-close {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.js .content-style-form-2 h2,
.js .content-style-form-2 p,
.js .content-style-form-2 .icon-close {
	opacity: 0;
	-webkit-transition: opacity 0.2s 0.3s, -webkit-transform 0.2s 0.3s;
	transition: opacity 0.2s 0.3s, transform 0.2s 0.3s;
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
}

.content-style-form-2 p:first-child {
	-webkit-transition-delay: 0.35s;
	transition-delay: 0.35s;
}

.content-style-form-2 p:nth-child(2) {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.content-style-form-2 p:nth-child(3) {
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}

.content-style-form-2 p:nth-child(4) {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.morph-button.open .content-style-form-2 h2,
.morph-button.open .content-style-form-2 p,
.morph-button.open .content-style-form-2 .icon-close {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/header-bg.jpg) no-repeat center top;
	margin-top: -10px;
	padding-top:20px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 130px;
	color: white;
	/*font-size: 140px;*/
	font-weight: 700;
	letter-spacing: 3px;
}

#headerwrap h2 {
	color: white;
	font-size: 50px;
	font-weight: 100;
	letter-spacing: 2px;
}

/* White Wrap */

#w {
	background: #ffffff;
	padding-top: 35px;
	padding-bottom: 35px;
	text-align: center;
}

#w h3 {
	font-weight: 700;
	color: #7b7b7b;
	letter-spacing: 1px;
}

#w bold {
	color: #2f2f2f;
}

/* Dark Grey Wrap */
#dg {
	background: #e0e0e0;
	padding-top: 35px;
	text-align: center;
}


#dg h2{
	color: black;
	font-size:26px;
	height: 120px;
	width: 120px;
	padding-top:130px;
	margin-bottom: 150px;
	text-align: left;
	font-family: "YouYuan";
}
/* Grey Wrap */
#g {
	background: #f2f2f2;
	padding-top: 35px;
	padding-bottom: 100px;
	text-align: center;
}

#g h2{
	font-size:28px;
	height: 100px;
	padding-top: 40px;
	margin-bottom: 80px;
}

/* File Wrap */
#fileWrap {
	background: url(../img/file-bg.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top:70px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#fileWrap h3 {
	color: #ffffff;
	font-size: 50px;
}

#fileWrap h4 {
	color: #ffffff;
	font-size: 28px;
}

#fileWrap button {
	height: 300px;
	width: 174px;
	margin-bottom: 80px;
	border: none;
}

/* Routing Wrap */
#routingWrap {
	background: url(../img/routing-bg.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top:70px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#routingWrap h3 {
	color: #ffffff;
	font-size: 50px;
}

#routingWrap h4 {
	color: #ffffff;
	font-size: 28px;
}

/* Video Wrap */

#videoWrap {
  	background: #183850;
  	padding-bottom: 70px;
}

#videoWrap video {
	width: 100%;
	height: 354px;
}

.live {
  overflow: hidden;
  width: 96%;
}

.live > li {
  list-style: none;
  position: relative;
  padding: 0 0 0 2em;
  margin: 0 0 .5em 10px;
  -webkit-transition: .12s;
          transition: .12s;
}

.live > li::before {
  position: absolute;
  content: '\2022';
  font-family: Arial;
  color: #FFF;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 2em;
  opacity: .5;
  line-height: .75;
  -webkit-transition: .5s;
          transition: .5s;
}

.live > li:hover, a:hover {
  color: #FFF;
}

.live > li:hover::before, a:hover::before {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  opacity: 1;
  text-shadow: 0 0 4px;
  -webkit-transition: .1s;
          transition: .1s;
}

ol, ul, dl{
  /*width: 100%;*/
  display: inline-block;
  text-align: left;
  vertical-align: top;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 1.5em;
  margin: 2%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}


/* Footer Wrap */
#f {
	background: #2f2f2f;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center
}

#f h3 {
	color: white;	
}

#f i {
	font-size: 26px;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}

/* Copyright Wrap */

#c {
	background: #222222;
	padding-top: 15px;
	text-align: right;
}

#c p {
	color: white
}