<!DOCTYPE html>
<html lang="zh" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<link rel="stylesheet" type="text/css" href="/css/file_normalize.css" />
		<link rel="stylesheet" type="text/css" href="/css/file_demo.css" />
		<link rel="stylesheet" type="text/css" href="/css/file_component.css" />
		<link rel="stylesheet" type="text/css" href="/css/file_content.css" />

	</head>

	<body class="container">
		<header class="codrops-header">
			<h1>文件管理</h1>
			<!-- <p>Inspiration for revealing content by morphing the action element. Examples:</p> -->
			<nav class="codrops-demos">
				<a class="current-demo type-choose" href="javascript:void(0);"><h2>所有文件</h2></a>
				<span>|</span>
				<a class="type-choose" href="javascript:void(0);"><h2>共享文件</h2></a>
				<span>|</span>
				<a class="type-choose" href="javascript:void(0);"><h2>私人文件</h2></a>
			</nav>
		</header>

		<div class="morph-button morph-button-overlay morph-button-fixed">
			<button type="button">上传文件</button>
			<div class="morph-content">
				<div>
					<div class="content-style-overlay">
						<span class="icon icon-close">Close the overlay</span>
						<h2>文件上传</h2>
						<form enctype="multipart/form-data" id="upload-form" action="upload/" method="POST">
							<p><input type="text" id="a" readonly="readonly" /></p>
							<p>
 								<a href="javascript:void(0);" class="input">浏 览
								<input type="file" id="file" name="file"></a>
							</p>
							<p><label>文件权限</label>
								<select type="form-control" name="priority">
                                    <option value="share">共享</option>
                                    <option value="private">私人</option>
                                </select></p>

							<p><button>Submit</button></p>
						</form>
					</div>
				</div>
			</div>
		</div><!-- morph-button -->

		<div class="tableDiv">
			<table class="table table-striped" style="width:85%;" id="file-table">
                <tr>
                    <th>文件名</th>
                    <th>上传者</th>
                    <th>上传时间</th>
                    <th>权限</th>
                    <th>下载</th>
                    <th>删除</th>
                </tr>
            </table>
		</div>
        <script type="text/template" id="file-template">
            <% _.each(fileList,function (file) { %>
                <tr class="file-column">
                    <td><%= file.filename%></td>
                    <td><%= file.username%></td>
                    <td><%= file.timestamp%></td>
                    <td><%= file.priority%></td>
                    <td><a href="javascript:void(0)" onclick="downloadFile(this)">下载</a></td>
                    <td><a href="javascript:void(0)" onclick="removeFile(this)">删除</a></td>
                </tr>
            <% }) %>
        </script>

        <script src="/js/modernizr.custom.js"></script>
		<script src="/js/classie.js"></script>
		<script src="/js/uiMorphingButton_fixed.js"></script>
        <script src="/lib/jquery-1.9.1.min.js"></script>
        <script src="/lib/underscore-min.js"></script>
		<script type="text/javascript">
            $(function(){
                ajaxFile('all');
                $(".type-choose").click(function(){
                    typeChoose(this);
                });
            });

            function typeChoose(dom){
                if(!$(dom).hasClass("current-demo")){
                    $(".current-demo").removeClass("current-demo");
                    $(dom).addClass("current-demo")
                    switch($(dom).find("h2").html()){
                        case "私人文件":
                            ajaxFile("private");
                            break;
                        case "所有文件":
                            ajaxFile("all");
                            break;
                        case "共享文件":
                            ajaxFile("share");
                            break;
                    }
                }
            }

            function ajaxFile(type){
                var url=type;
                $.getJSON(url,function (fileList){
                    $('.file-column').remove();
                    renderFile(fileList);
                })
            }

            function renderFile(fileList) {
                var temp=_.template($('#file-template').html());
                $('#file-table').append(temp({fileList:fileList.data}));

            }

            function removeFile(dom) {
                var trdom=$(dom).parent().parent();
                var filename=$($(trdom).children().get(0)).text();
                console.log(filename);
                filename=encodeURIComponent(filename);
                var username=$($(trdom).children().get(1)).text();
                var priority=$($(trdom).children().get(3)).text();
                $.getJSON("remove",{filename:filename,username:username,priority:priority},function(data) {
                    if(data.status>0)
                        $(trdom).remove();
                })
            }

            function downloadFile(dom) {
                var trdom=$(dom).parent().parent();
                var filename=$($(trdom).children().get(0)).text();
                console.log(filename);
                filename=encodeURIComponent(filename);
                var priority=$($(trdom).children().get(3)).text();
                url=window.location.href+'download?filename='+filename+'&priority='+priority;
                window.open(url, "_blank");
            }

 			var input1 = document.getElementById("file");// 获得控件对象
 			input1.onchange = inputPath; //当控件对象 input1 有变化时执行函数 inputPath
 			function inputPath() {
  				var input2 = document.getElementById("a"); // 获取 input 对象 input2
  				input2.value=input1.value;  // 将控件 input1 的值赋给 input2 
 			}
			(function() {	
				var docElem = window.document.documentElement, didScroll, scrollPosition;

				// trick to prevent scrolling when opening/closing button
				function noScrollFn() {
					window.scrollTo( scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0 );
				}

				function noScroll() {
					window.removeEventListener( 'scroll', scrollHandler );
					window.addEventListener( 'scroll', noScrollFn );
				}

				function scrollFn() {
					window.addEventListener( 'scroll', scrollHandler );
				}

				function canScroll() {
					window.removeEventListener( 'scroll', noScrollFn );
					scrollFn();
				}

				function scrollHandler() {
					if( !didScroll ) {
						didScroll = true;
						setTimeout( function() { scrollPage(); }, 60 );
					}
				};

				function scrollPage() {
					scrollPosition = { x : window.pageXOffset || docElem.scrollLeft, y : window.pageYOffset || docElem.scrollTop };
					didScroll = false;
				};

				scrollFn();
				
				var el = document.querySelector( '.morph-button' );
				
				new UIMorphingButton( el, {
					closeEl : '.icon-close',
					onBeforeOpen : function() {
						// don't allow to scroll
						noScroll();
					},
					onAfterOpen : function() {
						// can scroll again
						canScroll();
						// add class "noscroll" to body
						classie.addClass( document.body, 'noscroll' );
						// add scroll class to main el
						classie.addClass( el, 'scroll' );
					},
					onBeforeClose : function() {
						// remove class "noscroll" to body
						classie.removeClass( document.body, 'noscroll' );
						// remove scroll class from main el
						classie.removeClass( el, 'scroll' );
						// don't allow to scroll
						noScroll();
					},
					onAfterClose : function() {
						// can scroll again
						canScroll();
					}
				} );
			})();
		</script>
	</body>
</html>